{% extends "layout.html" %} {% block body %}
<link rel="stylesheet" href="/static/about_us.css">

    <div class="top-text">
        <p>We take your Waste</p>
    </div>

    <div class="image">
        <img src="trash.jpg" alt="">
    </div>

    <div class="desc">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod magni nihil quos error commodi labore neque nisi architecto qui eveniet sunt reprehenderit aliquam ratione fugiat voluptatem dolorem quia dignissimos quasi, corrupti laudantium distinctio laboriosam. Excepturi ad consectetur earum itaque maiores repellat tenetur provident dolorum repudiandae sit, facilis, amet quia! In laborum, accusamus deleniti alias nam natus? Veritatis laboriosam inventore dicta quod enim repellendus, similique omnis non aliquam rem provident aliquid neque? Odio eaque ea quisquam, rem minus quaerat exercitationem at repellendus iure, maiores quibusdam voluptatem quam expedita, animi quia dolores architecto deserunt rerum quidem aliquid. Sed vero quae qui suscipit.</p>
    </div>

    <div class="stats">
        <div class="stats" id="stat1">
            
        </div>

        <div class="stats" id="stat2">
            
        </div>

        <div class="stats" id="stat3">
            
        </div>
    </div>
    {% endblock %}