{% extends "layout.html" %} {% block body %}

<br>
<br>

<h1 class="text-center">Metal Upcycling Companies</h1>
<br>
<hr>
<br>
<!-- Company 1 -->
<div class="container d-flex justify-content-center">
    <div class="card m-4 p-4" style="width: 38rem;">
        <img src="metalcompany1_logo.png" alt="Company 1 Logo" class="company-logo">
        <div class="card-body">
            <a href="https://www.linkedin.com/company/company1" target="_blank"><h2 class="card-title">GreenChef Solutions</h2></a>
            <p>GreenChef Solutions, Pune, brings eco-friendly kitchenware to your table! We upcycle metal waste into durable, sustainable pots, pans, utensils, and more. Choose GreenChef: Cook green, cook good, cook consciously.</p>
          <a href="#" class="btn btn-primary">View Profile</a>
        </div>
      </div>
    <div class="card m-4 p-4" style="width: 38rem;">
        <img src="metalcompany2_logo.png" alt="Company 2 Logo" class="company-logo">
        <div class="card-body">
            <a href="https://www.linkedin.com/company/company1" target="_blank"><h2 class="card-title">Seat of Green</h2></a>
            <p>Pune's Seat of Green upcycles metal waste into stylish, durable outdoor furniture. They divert waste, craft quality eco-friendly seating, and beautify green spaces. Choose Seat of Green: Sustainable style for your outdoor haven.</p>
          <a href="#" class="btn btn-primary">View Profile</a>
        </div>
      </div>
    <div class="card m-4 p-4" style="width: 38rem;">
        <img src="metalcompany3_logo.png" alt="Company 3 Logo" class="company-logo">
        <div class="card-body">
            <a href="https://www.linkedin.com/company/company1" target="_blank"><h2 class="card-title">GreenSteel</h2></a>
            <p>GreenSteel transforms metal waste into unique, eco-friendly signs for businesses and homes. GreenSteel offers sustainable design with style, reducing landfill waste and showcasing responsible practices. Choose GreenSteel: Impactful signage, one sign at a time.</p>
          <a href="#" class="btn btn-primary">View Profile</a>
        </div>
      </div>
</div>
{% endblock %}