{% extends "layout.html" %} {% block body %}

<br>
<br>

<h1 class="text-center">Paper Upcycling Companies</h1>
<br>
<hr>
<br>
<!-- Company 1 -->
<div class="container d-flex justify-content-center">
    <div class="card m-4 p-4" style="width: 38rem;">
        <img src="company1_logo.png" alt="Company 1 Logo" class="company-logo">
        <div class="card-body">
            <a href="https://www.linkedin.com/company/company1" target="_blank"><h2 class="card-title">EcoNest - Creating comfort from waste</h2></a>
            <p>Pune's EcoNest upcycles paper waste into comfy, eco-friendly bedding for small pets. They divert waste, pamper furry friends, and promote a greener planet, all with love and ethical practices. Join them in creating a world where waste becomes something beautiful and beneficial for all. Choose EcoNest: cozy, conscientious comfort for your little friend.</p>
          <a href="#" class="btn btn-primary">View Profile</a>
        </div>
      </div>
    <div class="card m-4 p-4" style="width: 38rem;">
        <img src="company1_logo.png" alt="Company 2 Logo" class="company-logo">
        <div class="card-body">
            <a href="https://www.linkedin.com/company/company1" target="_blank"><h2 class="card-title">PaperCraft Jewels</h2></a>
            <p>PaperCraft Jewels, Pune, transforms recycled paper into exquisite, eco-friendly jewelry. Skilled artisans handcraft unique necklaces, bracelets, and more, advocating for a greener planet through stunning design. Choose PaperCraft Jewels: beauty that empowers sustainable choices.</p>
          <a href="#" class="btn btn-primary">View Profile</a>
        </div>
      </div>
    <div class="card m-4 p-4" style="width: 38rem;">
        <img src="company1_logo.png" alt="Company 3 Logo" class="company-logo">
        <div class="card-body">
            <a href="https://www.linkedin.com/company/company1" target="_blank"><h2 class="card-title">GreenWave Creations</h2></a>
            <p>
                Pune's GreenWave Creations upcycles paper waste into stylish, eco-conscious bags & baskets. They divert tons of waste, craft with quality & care, and inspire a greener future. Choose GreenWave: Sustainable solutions that make a difference, together.</p>
          <a href="#" class="btn btn-primary">View Profile</a>
        </div>
      </div>
</div>
{% endblock %}